body {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  margin: 0px;
  padding: 0px;
  top: 0px;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
}

.card {
  background: url("../images/card-background.png");
  position: fixed;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;

  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 900px 100%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
  width: 850px;
  height: 420px;

  display: flex;
  justify-content: space-between;
  border-radius: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.avatar {
  margin-left: 20%;
  margin-top: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}
@media only screen and (min-width: 651px) {
  .avatar {
    width: 170px;
    height: 170px;
  }
}

@media only screen and (max-width: 650px) {
  .avatar {
    width: 120px;
    height: 120px;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.block-info {
  margin-top: 200px;
}

.line-info {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

p {
  font-family: "Roboto";
}

.icon-arrow {
  width: 20px;
  height: 20px;
}

.icon-circle {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 15px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 50%;
}

.icon-circle:hover {
  background-color: #ede6d1;
  cursor: pointer;
}
